<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<div class="content" style="background-color: white; margin: 20px auto; padding: 20px; width: 90%; max-width: 600px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 8);">
    <h1 style="color:white;background-color:cornflowerblue; padding:2rem;">Trip<span style="color:black;">Wise</span></h1>
    <h2 style="color: #333;">Password restoration</h2>
    <p>You have requested to restore your password. To continue, click on the following link:</p>
    <p style="margin: 20px 0;">
        <a href="${resetLink}" target="_blank" style="display: inline-block; background-color: #4CAF50; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none;">Restore password</a>
    </p>
    <p>This link is valid for 30 minutes.</p>
</div>


</body>
</html>